@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 35,40;
  --background-rgb: 255, 255, 255;
  --border-rgb: 208, 215, 222;
  --button-foreground-rgb: 255, 255, 255;
  --button-background-rgb: 31, 136, 61;
  --button-hover-background-rgb: 28, 129, 57;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 197, 209, 222;
    --background-rgb: 34, 39, 46;
    --border-rgb: 68, 76, 86;
    --button-background-rgb: 52, 125, 57;
    --button-hover-background-rgb: 59, 124, 64;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

header {
  border-bottom: 1px solid rgb(var(--border-rgb));
}
footer {
  border-top: 1px solid rgb(var(--border-rgb));
}

input,
textarea {
  @apply rounded-md px-1;

  border: 1px solid rgb(var(--border-rgb));

  @media (prefers-color-scheme: dark) {
    background: rgb(var(--background-rgb));
    color: rgb(var(--foreground-rgb));
  }
}

input[type='file'] {
  @apply bg-transparent px-0;

  color: rgb(var(--foreground-rgb));
  border: none;
}

@layer components {
  .button-center {
    @apply inline-block max-w-80 mx-auto py-1 px-2 sm:px-4 rounded-md border-none;
    @apply font-medium;
    @apply cursor-pointer disabled:cursor-default;

    background: rgb(var(--button-background-rgb));
    color: rgb(var(--button-foreground-rgb));

    &:hover {
      background: rgb(var(--button-hover-background-rgb));
    }
  }

  .button-back {
    @apply text-base sm:text-lg hover:text-blue-500 hover:underline;
    &::after {
      content: '↩';
    }
  }

  .button-link {
    @apply text-center grid grid-flow-col place-content-center;
    @apply hover:text-blue-500 hover:underline;
    &::after {
      content: '🔗';
    }
  }
}
